html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #2f2d13;
  margin: 0;
}

h1 {
  text-align: center;
  color: #ffe500;
  font-family: "Sigmar One", sans-serif;
}
