html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: ##ffe500;
  margin: 0;
}

h1 {
  text-align: center;
  color: #b20953;
  font-family: "Sigmar One", sans-serif;
  margin: 0.3em;
  font-size: 3rem;
}
