html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
}

h1 {
  text-align: center;
  color: #b20953;
  font-family: "Sigmar One", sans-serif;
  margin: 0.3em;
  font-size: 3rem;
}

nav ul {
  margin: 0;
  padding: 0 0 0.4em;
  list-style-type: none;
  text-decoration: none;
}

nav a {
  display: inline-block;
  padding: 0.2em 0.5em 0.3em;
  margin: 0 0 0.2em;
  background-color: #b2a212;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
